<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/mario.png" height="60" title="Winter Levels!" alt=""></td>
        <td><a href="{{site.baseurl}}/articulation/overview">Overview</a></td>
        <td><a href="{{site.baseurl}}/articulation/objects">Javascript Objects</a></td>
        <td><a href="{{site.baseurl}}/articulation/finite">Finite States</a></td>
        <td><a href="{{site.baseurl}}/articulation/single">Single Responisiblity</a></td>
        <td><a href="{{site.baseurl}}/articulation/gamecontrol">GameControl</a></td>
        <td><a href="{{site.baseurl}}/articulation/draw-IO">draw.IO</a></td>
    </tr>
</table>